@import '../bem-helpers';

$outer-border-radius: 10px;

.app {
  flex: 1;
  max-width: 650px;
  max-height: 500px;

  display: grid;
  grid-template:
    "header main" auto
    "nav    main" 1fr /
    150px   1fr;

  border-radius: $outer-border-radius;
  overflow: hidden;

  box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);

  @include e(header) {
    grid-area: header;
  }

  @include e(nav) {
    grid-area: nav;

    border-bottom-left-radius: $outer-border-radius; // needed because of backdrop-filter on nav
  }

  @include e(issues) {
    grid-area: main;
  }
}
