@import '../bem-helpers';
@import '../common';

$label-height: 8px;

.issues-group {
  padding: 0 20px 0 $default-padding;

  @include e(label) {
    height: $label-height;

    margin: 11px 0 11px;

    font-size: 12px;
    line-height: $label-height;
    letter-spacing: 0.005em;
    color: $secondary-text-color;
  }

  @include e(content) {
    margin: 0;
    padding: 0;

    list-style: none;
  }
}
