@import '../bem-helpers';
@import '../common';

$nav-item-hover-active-color: #292a48;

.nav-item {
  height: 50px;

  list-style: none;

  &:hover {
    background-color: $nav-item-hover-active-color;
  }

  @include m(active) {
    background-color: $nav-item-hover-active-color;
  }

  @include e(link) {
    height: 100%;

    display: flex;
    align-items: center;

    padding-left: $default-padding;

    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.005em;
  }

  @include e(icon) {
    width: 16px;
    height: 16px;
  }

  @include e(label) {
    margin-left: 9px;

    color: #fff;
  }

  @include e(count) {
    width: 42px;

    margin-left: auto;

    text-align: center;;

    font-family: 'Proxima Nova', 'Roboto', sans-serif; // Proxima Nova is not free :(
    color: $secondary-text-color;
  }

}
