@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1;
  box-sizing: border-box;
}

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;

  grid-template:
    "header main" auto
    "nav    main" 1fr /
    150px   1fr;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}

main {
  background-color: #f6f6f6;
  overflow-y: auto;
}
