@import '~normalize.css/normalize';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;

  grid-template:
    "header main" 40px
    "nav    main" 1fr /
    150px   1fr;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}

header,
nav {
  background-color: #101022;
}

main {
  background-color: #f6f6f6;
  overflow-y: auto;
}
